*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1.2em/1.62 sans-serif;
  background-color: white;
  font-size: 1.5rem;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
