[package]
name = "embassy-agb-macros"
version = "0.1.0"
edition = "2024"
license = "MPL-2.0"
description = "Macros for embassy-agb async Game Boy Advance development"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }
