[package]
name = "agb"
version = "0.8.0"
authors = ["Corwin Kuiper <corwin@kuiper.dev>", "Gwilym Kuiper <gw@ilym.me>"]
edition = "2018"
description = "Library for Game Boy Advance Development"
license = "MPL-2.0"

[profile.dev]
opt-level = 3
debug = true

[profile.release]
lto = true
debug = true

[features]
default = ["alloc"]
alloc = []
freq18157 = ["agb_sound_converter/freq18157"]

[dependencies]
bitflags = "1.3"
agb_image_converter = { version = "0.6.0", path = "../agb-image-converter" }
agb_sound_converter = { version = "0.1.0", path = "../agb-sound-converter" }
agb_macros = { version = "0.1.0", path = "../agb-macros" }

[package.metadata.docs.rs]
default-target = "thumbv6m-none-eabi"
targets = []
