[package]
name = "agb_midi"
version = "0.22.2"
authors = ["Gwilym Inzani <gw@ilym.me>"]
edition = "2024"
license = "MPL-2.0"
description = "Library for converting MIDI files for use with agb-tracker on the Game Boy Advance. You shouldn't use this package directly"
repository = "https://github.com/agbrs/agb"

[lib]
proc-macro = true

[dependencies]
agb_tracker_interop = { version = "0.22.2", path = "../agb-tracker-interop", features = ["quote"] }
agb_midi_core = { version = "0.22.2", path = "../agb-midi-core" }

proc-macro-error = "1"
proc-macro2 = "1"
quote = "1"
syn = "2"

rustysynth = "1.3"
midly = { version = "0.5", default-features = false, features = [
    "alloc",
    "std",
] }
